@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
}
* :focus {
  outline: 0 !important;
}

body {
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  line-height: 120%;
}

html {
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  html {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.744rem;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 1.96rem !important;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h2 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 1.4rem !important;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h3 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h3 {
    font-size: 16px;
  }
}

#btnlogin {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: #E7E1E1;
  background-color: #38486A;
}

.button-primary {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: #E7E1E1;
  background-color: #38486A;
  border-radius: 9px;
}

.button-secondary {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: #E7E1E1;
  background-color: #65728e;
  border-radius: 9px;
}

.button-danger {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: #f8ebeb;
  background-color: #fc2b2b;
  max-width: 6rem;
  border-radius: 9px;
}

.long-card {
  width: 80vw;
  height: 30vh;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 9px;
}

.big-cards {
  box-shadow: 0 7.2px 27.3px -22px rgba(91, 81, 143, 0.5), 0 7.6px 33.1px -22px rgba(91, 81, 143, 0.159), 0 12px 53px -22px rgba(91, 81, 143, 0.129);
  width: 20rem;
  height: 50vh;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 9px;
}

.small-cards {
  width: 15rem;
  height: 20vh;
  margin: 2rem;
  box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.250431px 5.13384px rgba(56, 53, 116, 0.085);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1B2430;
  padding: 0.5rem 3.5rem;
}
.navbar .logo-container {
  flex-grow: 1;
}
.navbar .logo-container h2 {
  color: #E7E1E1;
}
.navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-links .nav-link {
  margin: 1rem;
}
.navbar .nav-links .nav-link a {
  color: #E7E1E1;
}
.navbar .nav-links .nav-link #btnLogin {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: #E7E1E1;
  background-color: #38486A;
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  background-color: #1B2430;
  color: #E7E1E1;
}
.choice-container .choice-header {
  margin-bottom: 3em;
}
.choice-container .choice-header h1 {
  font-size: 38px;
}
.choice-container .choice-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice-container .choice-content .choice-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 1rem;
}
.choice-container .choice-content .choice-card .box {
  width: 100px;
  height: 100px;
  background-color: white;
}
.choice-container .choice-content .choice-card .choice-card-text {
  margin-top: 1rem;
  align-items: center;
  font-size: 10px;
}
@media screen and (min-width: 400px) {
  .choice-container .choice-content .choice-card .choice-card-text {
    font-size: calc(10px + 10 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  .choice-container .choice-content .choice-card .choice-card-text {
    font-size: 20px;
  }
}

.jumbotron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: #38486A;
}
.jumbotron-container .content-jombotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jumbotron-container .content-jombotron .heading-content-jombotron {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  line-height: 192px;
  letter-spacing: 0.15em;
  color: #e7e1e1;
  font-weight: 700;
  margin: 1rem;
}
.jumbotron-container .content-jombotron .text-content-jumbotron {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 33px;
  line-height: 60px;
  text-align: center;
  color: #e7e1e1;
}
.jumbotron-container .content-jombotron .btn-contact {
  margin: 1rem;
  opacity: 0.8;
}
.jumbotron-container .content-jombotron .btn-contact:hover {
  opacity: 1;
  transition: 0.2s linear;
}/*# sourceMappingURL=style.css.map */