@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
}
* :focus {
  outline: 0 !important;
}

body {
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  line-height: 120%;
}

html {
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  html {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.744rem;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 1.96rem !important;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h2 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 1.4rem !important;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  h3 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}
@media screen and (min-width: 1400px) {
  h3 {
    font-size: 16px;
  }
}

.button {
  padding: 0.8em 0.8em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.long-card {
  width: 80vw;
  height: 30vh;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 9px;
}

.big-cards {
  box-shadow: 0 7.2px 27.3px -22px rgba(91, 81, 143, 0.5), 0 7.6px 33.1px -22px rgba(91, 81, 143, 0.159), 0 12px 53px -22px rgba(91, 81, 143, 0.129);
  width: 20rem;
  height: 50vh;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 9px;
}

.small-cards {
  width: 15rem;
  height: 20vh;
  margin: 2rem;
  box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.250431px 5.13384px rgba(56, 53, 116, 0.085);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
}

.small-logo {
  width: 7rem;
  margin: 1rem;
}

.icon-ig {
  min-width: 3rem;
  min-height: 3rem;
}

.icon-wa {
  min-width: 3rem;
  min-height: 3rem;
}

.icon-github {
  min-width: 3rem;
  min-height: 3rem;
}

.icon-gmail {
  min-width: 3rem;
  min-height: 3rem;
}

.button {
  color: #02559E;
}