// BUTTON
@mixin button($color, $bgColor){
    cursor: pointer;
    border: none;
    padding: $paddingSmall $paddingMedium;
    font-weight: $semibold;
    color: $color;
    background-color: $bgColor;
}

.button{
    @include button($txtColor, $backgroundColor);

    max-width: 6rem;
}
//ridho